@import "mediaquery";
@import "../foundation/color";
// 音符
$beat1: 21%;
$beat2: 38%;
$beat3: 57%;
$beat4: 74%;

// 使い回すもの
.box {
  position: absolute;
  width: 80px;
  height: 65px;
  top: 22px;
  left: 100px;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  @include mq-down(md) {
    width: 60px;
    height: 70px;
    top: 0px;
  }
  &--border {
    border: dashed 2px $mintGreen;
  }
  &--draggable {
    &:hover {
      cursor: pointer;
    }
  }
}
@mixin box__postion($left: left) {
  left: $left;
}

// 画像
.note {
  &--whole {
    // 画像用意する
    background-image: url(../../../img/notes/note_whole.png);
    width: 24rem;
  }
  &--halfDot {
    // 画像用意する
    background-image: url(../../../img/notes/note_halfDot.png);
    width: 18rem;
  }
  &--half {
    background-image: url(../../../img/notes/note_half.png);
    width: 12rem;
  }
  &--quaterDot {
    background-image: url(../../../img/notes/note_quaterDot.png);
    width: 9rem;
  }
  &--quater {
    background-image: url(../../../img/notes/note_quater.png);
    width: 6rem;
  }
  &--eighth {
    background-image: url(../../../img/notes/note_eighth.png);
    width: 3rem;
    background-size: cover;
  }
}
.rest {
  &--whole {
    // 画像用意する
    background-image: url(../../../img/rest/rest_whole.png);
    width: 24rem;
    top: 8px;
    left: 250px;
  }
  &--halfDot {
    // 画像用意する
    background-image: url(../../../img/notes/note_halfDot.png);
    width: 18rem;
    top: 15px;
  }
  &--half {
    background-image: url(../../../img/rest/rest_half.png);
    width: 12rem;
    top: 15px;
  }
  &--quaterDot {
    background-image: url(../../../img/rest/rest_quaterDot.png);
    width: 9rem;
  }
  &--quater {
    background-image: url(../../../img/rest/rest_quater.png);
    width: 6rem;
  }
  &--eighth {
    background-image: url(../../../img/rest/rest_eighth.png);
    width: 3rem;
    background-size: cover;
  }
}

.stave__wrapper {
  width: 100%;
  height: 8rem;
  .stave {
    position: relative;
    width: 75%;
    height: 100%;
    margin: 10px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../img/stave.png);

    &:hover {
      border-radius: 5px;
      border: 2px solid $orange;
      cursor: pointer;
    }
  }
}

.text-difficulty {
  font-weight: 600;
  color: #777;
}
