/* コンポーネント */

@import "mediaquery";
@import "../foundation/color";

@mixin dropzoneHeight {
  height: 100px;
  @include mq-down(md) {
    height: 120px;
  }
}
.score {
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd;
}

.mess-area {
  padding: 1% 10%;
  .mess {
    font-weight: bold;
    color: $orange;
  }
}
