.bold {
  font-weight: bold;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.f-right {
  float: right;
}
.flex-area {
  display: flex;
}
.mg-10 {
  margin: 10px;
}
.hidden {
  visibility: hidden;
}
.text-center {
  text-align: center;
}
