@import "../object/mediaquery";
@import "../foundation/color";

.container {
  max-width: 900px;
  margin: 10px auto;
}

main {
  .content__inner {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    @include mq-down(md) {
      width: 90%;
    }
  }
  .score-container {
    margin-top: 100px;
    @include mq-down(md) {
      margin-top: 80px;
    }
  }
}

header {
  position: fixed;
  width: 900px;
  z-index: 5;
  background: #fff;
  margin-top: -10px;
  .content__inner {
    width: 100%;
    min-height: 65px;
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
    align-items: center;
  }
  h1 {
    font-size: 1.5em;
    color: $orange;
    text-align: center;
    line-height: 40px;
  }
  h3 {
    width: 98%; /* IE8以下とAndroid4.3以下用フォールバック */
    width: 700px;
    margin: 0 20px;
    color: #555;
    font-size: 1.2em;
    padding: 1em 0.5em;
    text-align: center;
    #headingHint {
      margin: 10px 0;
      color: $orange;
    }
    @include mq-down(md) {
      padding: 0.5em 0;
      font-size: 1em;
    }
  }
}

.swiper-slide__inner {
  width: 90%;
  margin: 0 5%;
}

.resultText__wrapper {
  margin: 30% 0;
  p {
    margin: 10px 0;
  }
}
