/* drag and drop list */
/* positionを変更する */
$beat1: 50%;
$beat2: 50%;
$beat3: 50%;
$beat4: 50%;

$dropzoneHeight: 220px;
$imgMode: cover;
@media screen and(max-width: 756px) {
  $dropzoneHeight: 160px;
  $imgMode: contain;
}
.dropzone {
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 1px #808080;
  position: relative;
  background-image: url(../../img/background2.png);
  background-size: $imgMode;
  background-repeat: no-repeat;
  width: 100%;
  height: $dropzoneHeight;
  .box {
    position: absolute;
    top: 23%;
    left: 50%;
  }
  .timing-bar {
    background-color: #88ccc4;
    height: $dropzoneHeight;
  }
}
.list-area {
  .box {
    margin: 10px;
    border: dashed 1px #88ccc4;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 100px;
    &:hover {
      cursor: pointer;
    }
  }

  #note1 {
    background-image: url(../../img/note2.png);
  }

  #note2 {
    background-image: url(../../img/note2.png);
  }

  #note4 {
    background-image: url(../../img/note4.png);
  }

  #note8 {
    background-image: url(../../img/note8.png);
  }
}
