@import "utility";
/* drag and drop list */ /* positionを変更する */
$beat1: 21%;
$beat2: 38%;
$beat3: 57%;
$beat4: 74%;

// responsible setting
@mixin dropzoneHeight {
  height: 220px;
  @include mq-down(md) {
    height: 160px;
  }
}
@mixin imgMode {
  background-size: cover;
  @include mq-down(md) {
    background-size: contain;
  }
}

// 使い回すもの
@mixin box($left: left) {
  width: 80px;
  height: 100px;
  top: 65px;
  left: $left;
  margin: 10px;
  border: dashed 2px #88ccc4;
  background-size: contain;
  background-repeat: no-repeat;
  @include mq-down(md) {
    width: 60px;
    height: 75px;
    top: 40px;
  }
}

.dropzone {
  position: relative;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 1px #161515;

  background-image: url(../../img/background2.png);
  background-repeat: no-repeat;
  @include dropzoneHeight;
  @include imgMode;

  .box {
    position: absolute;
    @include box($beat3);
  }
  .box-1 {
    position: absolute;
    @include box($beat1);
  }
  .box-2 {
    position: absolute;
    @include box($beat2);
  }
  .box-3 {
    position: absolute;
    @include box($beat3);
  }
  .box-4 {
    position: absolute;
    @include box($beat4);
  }

  .timing-bar {
    @include dropzoneHeight();
    background-color: #88ccc4;
  }
  .blackbox {
    background-image: url(../../img/question.png);
  }
  .hint {
    border: 2px solid #f39961;
  }
}

.box {
  @include box(50%);
}
.draggable {
  &:hover {
    cursor: pointer;
  }
}

#note1 {
  background-image: url(../../img/note2.png);
}

#note2 {
  background-image: url(../../img/note2.png);
}

#note4 {
  background-image: url(../../img/note4.png);
}

#note8 {
  background-image: url(../../img/note8.png);
}
