// バーのアニメーション
@keyframes moveLine {
  0% {
    left: 1%;
  }
  100% {
    left: 99%;
  }
}
.timing-bar {
  animation-name: moveLine;
  animation-duration: 5.1s; // 何秒かけてアニメーションするか ここの値をbpmから出すようにしたい
  animation-play-state: paused;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}
.bar-active {
  animation-play-state: running;
}
