@import "mediaquery";
@import "../foundation/color";
// 音符
$beat1: 21%;
$beat2: 38%;
$beat3: 57%;
$beat4: 74%;

// 使い回すもの
.box {
  width: 80px;
  height: 100px;
  top: 15px;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  @include mq-down(md) {
    width: 60px;
    height: 75px;
    top: 15px;
  }
  &--border {
    border: dashed 2px $mintGreen;
  }
  &--draggable {
    &:hover {
      cursor: pointer;
    }
  }
}
@mixin box__postion($left: left) {
  left: $left;
}

// 外枠の箱
.box--pos1 {
  @extend .box;
  @include box__postion($beat1);
}
.box--pos2 {
  @extend .box;
  @include box__postion($beat2);
}
.box--pos3 {
  @extend .box;
  @include box__postion($beat3);
}
.box--pos4 {
  @extend .box;
  @include box__postion($beat4);
}

// 画像
.note {
  &--full {
    // 画像用意する
    background-image: url(../../img/notes/note_quater.png);
  }
  &--halfDot {
    // 画像用意する
    background-image: url(../../img/notes/note_quater.png);
  }
  &--half {
    background-image: url(../../img/notes/note_half.png);
  }
  &--quaterDot {
    background-image: url(../../img/notes/note_quaterDot.png);
  }
  &--quater {
    background-image: url(../../img/notes/note_quater.png);
  }
  &--eighth {
    background-image: url(../../img/notes/note_eighth.png);
  }
}

.blackbox {
  background-image: url(../../img/question.png);
}
.hint {
  border: 2px solid $orange;
  &--half {
    background-image: url(../../img/hint/hint2.png);
    opacity: 0.7;
  }
  &--quaterDot {
    background-image: url(../../img/hint/hint3.png);
    opacity: 0.7;
  }
  &--quater {
    background-image: url(../../img/hint/hint4.png);
    opacity: 0.7;
  }
  &--eighth {
    background-image: url(../../img/hint/hint8.png);
    opacity: 0.7;
  }
}
