@import "mediaquery";
@import "../foundation/color";
// 音符
$beat1: 21%;
$beat2: 38%;
$beat3: 57%;
$beat4: 74%;

// 使い回すもの
.box {
  width: 80px;
  height: 60px;
  top: 6px;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  @include mq-down(md) {
    width: 60px;
    height: 70px;
    top: 0px;
  }
  &--border {
    border: dashed 2px $mintGreen;
  }
  &--draggable {
    &:hover {
      cursor: pointer;
    }
  }
}
@mixin box__postion($left: left) {
  left: $left;
}

// 外枠の箱
.box--pos1 {
  @extend .box;
  /*@include box__postion($beat1);*/
}
.box--pos2 {
  @extend .box;
  /*@include box__postion($beat2);*/
}
.box--pos3 {
  @extend .box;
  /* @include box__postion($beat3);*/
}
.box--pos4 {
  @extend .box;
  /* @include box__postion($beat4);*/
}

// 画像
.note {
  &--whole {
    // 画像用意する
    background-image: url(../../img/notes/note_whole.png);
    width: 80%;
  }
  &--halfDot {
    // 画像用意する
    background-image: url(../../img/notes/note_halfDot.png);
    width: 60%;
  }
  &--half {
    background-image: url(../../img/notes/note_half.png);
    width: 40%;
  }
  &--quaterDot {
    background-image: url(../../img/notes/note_quaterDot.png);
    width: 30%;
  }
  &--quater {
    background-image: url(../../img/notes/note_quater.png);
    width: 20%;
  }
  &--eighth {
    background-image: url(../../img/notes/note_eighth.png);
    width: 10%;
  }
}

.blackbox {
  background-color: #fff;
  background-image: url(../../img/question.png);
}
.hint {
  border: 2px solid $orange;
  z-index: 1;
  &--whole {
    background-image: url(../../img/hint/hint-whole.png);
    width: 80%;
    opacity: 0.8;
  }
  &--halfDot {
    background-image: url(../../img/hint/hint-halfDot.png);
    width: 60%;
    opacity: 0.8;
  }
  &--half {
    background-image: url(../../img/hint/hint-half.png);
    width: 40%;
    opacity: 0.8;
  }
  &--quaterDot {
    background-image: url(../../img/hint/hint-quaterDot.png);
    width: 30%;
    opacity: 0.8;
  }
  &--quater {
    background-image: url(../../img/hint/hint-quater.png);
    width: 20%;
    opacity: 0.8;
  }
  &--eighth {
    background-image: url(../../img/hint/hint-eighth.png);
    width: 10%;
    opacity: 0.8;
  }
  &--convert {
    transform: scale(-1, 1);
  }
}
