// リズム譜, タイミングバーのstyle

@import "mediaquery";
@import "../foundation/color";

@mixin dropzoneHeight {
  height: 200px;
  @include mq-down(md) {
    height: 160px;
  }
}

.dropzone {
  position: relative;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  border: solid 1px #161515;

  background-image: url(../../img/4-4.png);
  background-repeat: no-repeat;
  @include dropzoneHeight;
  background-size: contain;

  .middleLine {
    width: 96%;
    height: 4px;
    background: black;
    position: absolute;
    top: 50%;
    margin: 0 2%;
  }

  .timing-bar {
    @include dropzoneHeight();
    background-color: $mintGreen;
  }

  // 音符パーツ
  .box--pos1,
  .box--pos2,
  .box--pos3,
  .box--pos4 {
    position: absolute;
  }
}
